html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #d8dcff;
}
.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}
.hamburger,
.navigation {
  transition: transform 0.3s 0.1s ease-in-out;
}
.hamburger--active {
  transform: translatex(200px);
}
.hamburger__box {
  width: 150px;
  height: 170px;
  display: inline-block;
  position: relative;
}
.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}
.hamburger__inner::before {
  top: -10px;
}
.hamburger__inner::after {
  top: 10px;
}
.hamburger--active .hamburger__inner {
  background-color: transparent;
}
.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}
.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}
.navigation {
  height: 100vh;
  width: 200px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200px);
}
.navigation--active {
  transform: translateX(0px);
}
.navigation__list {
  margin-top: 30px;
  list-style: none;
}
.navigation__item {
  margin-bottom: 20px;
}
/* .navigation__item a {
  text-decoration: none;
  color: #171717;
} */

.navigation__item {
  border: 0;
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  cursor: pointer;
  outline: none;
}

/* Style buttons */
.download-btn {
  background-color: DodgerBlue;
}

/* Darker background on mouse-over */
.download-btn:hover {
  background-color: RoyalBlue;
}
